@tailwind base;
@tailwind components;
@tailwind utilities;

.content-preview.content-preview {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Show only 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Add "..." if the content overflows */
    white-space: normal;
  }
  